.footer {
  width: 100%;
  height: 200px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: darksalmon;
  cursor: pointer;
}

.footer p {
  color: darksalmon;
  font-size: 20px
}

@media only screen and (max-width: 900px) {
  .socialMedia svg {
    font-size: 70px;
    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .socialMedia svg {
    font-size: 50px;
    margin: 20px;
  }

}
